@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: gray-600;
  --foreground: #171717;
}

 Worry about dark mode later.


@media (prefers-color-scheme: dark) {
:root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  overscroll-behavior: none;
}
body {
  overscroll-behavior: none;
}

@layer components {
  .partial-stroke::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    pointer-events: none;
  }
}
